@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.Banner{
  background-image: url("../../public/dark-wooden-background-with-flour-dust-e1627971410843.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.primaryBtn {
  background-color: #ffba00;
  padding: 10px 18px;
  border-radius: 2px;
  cursor: pointer;
}

.primaryBtn:hover {
  box-shadow: 0px 0px 15px 2px #ffc22d;
}


.selectBtn {
  background-color: #171717;
  color: white;
  padding: 12px 20px;
  border-radius: 2px;
  cursor: pointer;
}

.selectBtn:hover, .selectBtn:active {
  background-color: #ffba00;
  color: black;
}

.headText::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #ffba00;
  margin-top: 35px;
  margin: auto;
  margin-top: 10px;
}